Theme (
    styles: {
        "input": (
            // based on body style the of default_theme
            base: "body",
            properties: {
                "foreground": "#000000"
            }
        ),
        "result": (
            // based on body style the of default_theme
            base: "body",
            properties: {
                "font_size": "$FONT_SIZE_128",
            }
        ),
        "header_area": (
            properties: {
                "background": "#ffffff"
            }
        ),
        "content_area": (
            properties: {
                "background": "#eeeeee"
            }
        ),
         "button_calculator": (
            // based on button style the of default_theme
            base: "button",
            properties: {
                "min_width": 350,
                "height": 350,
                "border_radius": 1,
                "spacing": 0,
            },
        ),
        "button_calculator_primary": (
            // based on button_primary style the of default_theme
            base: "button_primary",
            properties: {
                "min_width": 350,
                "height": 350,
                "border_radius": 1,
                "spacing": 0,
            },
        ),
    }
)
